.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-rectangle {
  /* clip-path: path("M7.07175 158.172C-19.0148 80.4252 38.8318 0 120.839 0H422C463.421 0 497 33.5786 497 75V217C497 258.421 463.421 292 422 292H123.901C80.9308 292 42.7643 264.549 29.0954 223.81L7.07175 158.172Z"); */
  border-radius: 225px 75px 75px 75px;
}

.newsletter-custom-leaf {
  clip-path: path("M178 0L178 178L100 178C44.7715 178 1.58873e-06 133.228 9.30141e-07 78L0 2.12263e-06L178 0Z");
  background-color: #FFF5DB;
  position: absolute;
  bottom: -40px;
  left:-40px;
  z-index: -1;
}

.newsletter-custom-leaf::after{
  content: " ";
}

.header-custom-leaf {
  clip-path: path("M0 0H178V78C178 133.228 133.228 178 78 178H0V0Z");
  background-color: #FFF5DB;
  position: absolute;
  bottom:-100px;
  right: 100px;
  z-index: -1;
  width: 178px;
  height: 178px;
}

.header-custom-leaf::after {
  content: " ";
}

.about-custom-leaf {
  clip-path: path("M0 0H178V78C178 133.228 133.228 178 78 178H0V0Z");
  background-color: #EFF1FF;
  position: absolute;
  top:-40px;
  left: -40px;
  z-index: -1;
  width: 178px;
  height: 178px;
}

.about-custom-leaf::after {
  content: " ";
}

.service-custom-leaf {
  clip-path: path("M178 178L0 178L6.81898e-06 100C1.16472e-05 44.7715 44.7715 -1.16472e-05 100 -6.81898e-06L178 0L178 178Z");
  background-color: #FFF5DB;
  position: absolute;
  z-index: -1;
  width: 178px;
  height: 178px;
  top: -80px;
  left: -35px;
}

.service-custom-leaf::after {
  content: " ";
}

.service-custom-bg {
  clip-path: path("M0 150C0 67.1573 67.1573 0 150 0H1047V619H0V150Z");
  background-color: #F4F9FF;
  width: 1047px;
  height: 619px;
  position: absolute;
  z-index: 1;
  right: 0px;
  top: 150px;
}

.service-custom-bg::after{
  content: " ";
}

@media screen and (min-width: 768px) {
  
  .service-grid >  div:nth-child(1){
    margin-top: 80px;
  }
  
  .service-grid >  div:nth-child(4){
    margin-top: -80px;
  }
}


.custom-clip-path-for-slider {
  clip-path: path("M40 224.5C40 117.081 127.081 30 234.5 30H429V224.5C429 331.919 341.919 419 234.5 419C127.081 419 40 331.919 40 224.5Z");
  /* width: 100%; */
  /* height: 389px; */
}

.custom-clip-path-for-slider img {
  width: 500px;
  height: 420px;
}